* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
::-webkit-scrollbar {
  display: none;
}
.sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  transition: left 0.3s ease;
  padding-top: 60px;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav li {
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}

.sidenav li.active {
  background-color: #555;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidenav {
    left: 0;
  }
  .content {
    margin-left: 0;
  }
  .burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 999;
  }
  .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
}




